<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

<div class="footerWrapper">

  <div class="row socialMediaIcons">
    <div class="col-sm-12">
      <h1>
        <a href="https://www.linkedin.com/in/michael-chase-301859161" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://www.facebook.com/mike.chase.17" target="_blank" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/mchase.fit/" target="_blank" class="fa fa-instagram"></a>
        <a href="https://github.com/Chazz-Michaels" target="_blank" class="fa fa-github"></a>
      </h1>
    </div>
  </div>

  <div class="row signature">
    <div class="col-sm-12">
      Michael Chase &copy;2018
    </div>
  </div>


</div>


</body>
</html>
